div>div{
		width: 200px;
		height: 200px;
				}
body{
		margin:0;
		padding: 0;
	}
.pink{background-color:#ee3e64;
	left:0px ;
	top: 0px;
	position: absolute;
		}
.blue{background-color:#44accf;
	right: 0px;
	top: 0px;
	position: absolute;
			}
.green{background-color:#b7d84b;
	left:0px ;
	bottom: 0px;
	position: absolute;
		}
.yellow{background-color:yellow;
	right: 0px;
	bottom: 0px;
	position: absolute;
		}